.main {

    height: 50vh; //fallback option

    height: calc(var(--vh, 1vh) * 50);



    background-color: $white;

    // display: flex;
    // flex-direction: row;


    .banner-container {
        width: 100%;
        min-width: 1560px;
        margin: 0 auto;
        height: 100%;
        display: flex;


        @media(max-width: 1560px) {
            width: 1280px;
            min-width: 1280px;
        }

        @media(max-width: $breakpoint-desktop) {
            width: 1080px;
            min-width: 1080px;
        }

        @media(max-width: 1080px) {
            width: 100%;
            min-width: 100%;
        }
    }

    .animation {
        width: 100%;
        height: 50vh;
        position: absolute;
        top: 0;
        right: 0;

        @media(max-width: $breakpoint-tablet) {
            width: 50%;
            height: 100%;
        }
    }



    .row {
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;


        h1 {
            font-size: 3rem;
            line-height: 4.2rem;
            font-weight: 700;
            margin-bottom: 2px;
            margin-left: 10%;
            z-index: 10;
            color: $white;
            mix-blend-mode: difference;


            @media (max-width: $breakpoint-tablet) {
                font-size: 2.4rem;
                line-height: 3rem;

            }

            @media (max-width: $breakpoint-phone) {
                margin-top: 72px;
                font-size: 1.7rem;
                line-height: 2.2rem;

            }

            .line {
                margin-bottom: 8px;
                height: 56px;
                position: relative;
                overflow: hidden;

                @media (max-width: $breakpoint-tablet) {
                    height: 48px;
                }

                @media (max-width: $breakpoint-phone) {
                    height: 32px;
                }

                span {
                    position: absolute;

                }
            }
        }





        h2 {
            font-size: 2rem;
            line-height: 4.2rem;
            font-weight: 700;
            margin-bottom: 2px;
            margin-left: 10%;
            z-index: 10;
            color: $white;
            mix-blend-mode: difference;

            @media (max-width: $breakpoint-tablet) {
                font-size: 2.4rem;
                line-height: 3rem;

            }

            @media (max-width: $breakpoint-phone) {
                margin-top: 72px;
                font-size: 1.7rem;
                line-height: 2.2rem;

            }

            .line {
                margin-bottom: 8px;
                height: 56px;
                position: relative;
                overflow: hidden;


                @media (max-width: $breakpoint-tablet) {
                    height: 48px;
                }

                @media (max-width: $breakpoint-phone) {
                    height: 32px;
                }

                span {
                    position: absolute;
                }
            }
        }




        .btn-row {
            width: 256px;
            position: relative;
            z-index: 2;
            margin-left: 10%;

            a {
                font-size: 1.6rem;
                color: $black;
                text-decoration: none;
                display: flex;
                align-items: center;
                font-weight: 600;

                @media (max-width: $breakpoint-tablet) {
                    font-size: 1.3rem;

                }

                @media (max-width: $breakpoint-phone) {
                    font-size: 1.1rem;
                }

                svg {
                    margin: 16px;
                    border: 1px solid black;
                    padding: 12px;
                    height: 24px;
                    width: 24px;
                    border-radius: 100px;
                    transition: .4s ease-in-out;

                    @media (max-width: $breakpoint-tablet) {
                        padding: 6px;
                        width: 20px;
                        height: 20px;
                    }

                    @media (max-width: $breakpoint-phone) {
                        padding: 4px;
                        width: 16px;
                        height: 16px;
                    }
                }

                &:hover {
                    svg {
                        background: $black;
                        color: $white
                    }
                }

            }
        }
    }







}