.header {

    position: fixed;
    width: 100%;
    height: 128px;
    z-index: 4;


    @media (max-width: $breakpoint-phone) {
        height: 96px;
    }

    .logo {
        color: $black;
        z-index: 10;

        a {
            font-size: 1.2rem;
            letter-spacing: 0.5rem;
            color: $black;
            text-decoration: none;
            font-weight: 200;


        }


        img {
            height: 30px;
           
        }
    }

    .nav-toggle {
        cursor: pointer;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: $breakpoint-tablet) {
            margin-right: 24px;
        }

        @media (max-width: $breakpoint-phone) {
            margin-right: 16px;
            width: 20px;
        }

        .hamburger-menu {
            width: 25px;

            span {
                margin-bottom: 0.3rem;
                background: $black;
                height: 2px;
                width: 100%;
                display: block;
            }
        }

        .hamburger-menu-close {
            position: absolute;
            display: none;

            svg {
                @media (max-width: $breakpoint-tablet) {
                    width: 56px;
                }

                @media (max-width: $breakpoint-phone) {

                    width: 48px;
                }
            }

        }
    }
}