nav {
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    position: fixed;
    overflow: hidden;
    background: $yellow;

    a {
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            display: block;
            margin-top: 5px;
            right: 0;
            background: $black;
            transition: 0.4s ease;

        }

        &:hover {
            &:after {
                width: 100%;
                left: 0;
                background: $black;
            }
        }
    }

    .nav-columns {
        transform: translateY(125px);
        display: flex;
        padding: 0 32px;

        @media(max-width: 654px) {
            flex-direction: column;
        }

        @media(max-width: $breakpoint-phone) {
            padding: 0 16px;
        }


        .nav-column {

            width: 45%;

            @media(max-width: 654px) {
                width: 100%;
            }

            &:last-child {
                width: 55%;

                @media(max-width: 654px) {
                    width: 100%;
                }
            }

            .nav-label {
                margin-bottom: 3rem;
                font-size: 1.2rem;

                @media(max-width: $breakpoint-tablet) {
                    margin-bottom: 1.4rem;
                    font-size: 1rem;
                }

                @media(max-width: $breakpoint-phone) {
                    margin-bottom: 1.2rem;
                    font-size: .8rem;
                }
            }

            .nav-links {
                padding: 0;
                margin: 0;

                li {
                    list-style-type: none;
                    margin-bottom: 2.8rem;

                    @media(max-width: $breakpoint-phone) {
                        margin-bottom: 1.6rem;
                    }

                    a {
                        font-weight: 600;
                        font-size: 2.8rem;
                        text-decoration: none;
                        color: $black;

                        @media(max-width: $breakpoint-phone) {
                            font-size: 2rem;
                        }

                    }
                }
            }

            .nav-infos {
                display: flex;
                flex-wrap: wrap;

                @media(max-width: 654px) {
                    justify-content: space-between;
                }

                .nav-info {
                    padding: 0;
                    width: 50%;

                    &:nth-child(2),
                    &:nth-child(3) {
                        @media(max-width: 654px) {
                            display: none;
                        }
                    }

                    .nav-info-label {
                        font-weight: 600;

                    }

                    li {
                        font-weight: 300;
                        list-style: none;
                        font-size: 1.4rem;
                        margin-bottom: 1.2rem;

                        @media(max-width: $breakpoint-tablet) {
                            margin-bottom: 1rem;
                            font-size: 1.2rem;
                        }

                        @media(max-width: $breakpoint-phone) {
                            margin-bottom: 0.875rem;
                            font-size: 1rem;
                        }

                        a {
                            text-decoration: none;
                            color: $black;
                        }
                    }
                }
            }
        }
    }
}