@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,600,700&display=swap");
@import "./varibles.scss";
// @import "./breakpoints.scss";
@import "./components/header.scss";
@import "./components/banner.scss";
@import "./components/portfolio.scss";
@import "./components/introOverlay.scss";
@import "./components/navigation.scss";



body,
html {
    visibility: hidden;
    user-select: none;
    background: $white;
    overscroll-behavior: none;
    margin: 0;
    font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
        "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


canvas {
    width: 100%;

}

.container {
    width: 1560px;
    min-width: 1560px;
    margin: 0 auto;
    height: 100%;

    @media(max-width: 1560px) {
        width: 1280px;
        min-width: 1280px;
    }

    @media(max-width: $breakpoint-desktop) {
        width: 1080px;
        min-width: 1080px;
    }

    @media(max-width: 1080px) {
        width: 100%;
        min-width: 100%;
    }

    .row {
        display: flex;
        height: 100%;
        padding: 0 32px;

        @media(max-width: $breakpoint-phone) {
            padding: 0 16px;
        }
    }

    .v-center {
        align-items: center;
    }

    .space-between {
        justify-content: space-between;
    }
}

.container-fluid {
    width: 100%;
    height: 100%;

    .row {
        display: flex;
        height: 100%;
    }
}


.App {
    z-index: 2;
    transform: translateY(0);
    position: relative;
}

.page {
    height: 100vh;
    width: 100%;
    background: $white;

    .row {
        display: flex;
        align-items: center;
    }
}